.link {
  text-align: center;
  font-size: large;
}
.center {
  text-align: left;
}
.center img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  max-height: 500px;
}
